<div class="text-center container">
  <h1>LEVEL <%= @game.id  %>: <%= @game.name.upcase %></h1>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 game-board">
    <p class="col-xs-6 text-left">QUESTION: <kbd><span id="questionNumber"></span></kbd></p>
    <p class="col-xs-6 text-right">YOUR SCORE: <kbd><span id="score"></span></kbd>
    <p class="text-center col-xs-12">
    In the key of <span id="questionKey">_</span>, what chord functions as <span id="questionChord">_</span>?
    </p>
   
      <div class="game-answer">
        <form action="">
          <input type="text" name="answer" value="CMaj7" class="game-answer-input" autofocus><br>
          <input type="submit" value="SUBMIT" class="game-answer-submit">  
        </form>
      </div><!-- /game-answer -->
      <button class="btn btn-next-level hidden"><a href="<%= game_path(@game.id + 1) %>">CONTINUE TO LEVEL <%= @game.id + 1 %></a></button>
  </div><!-- /game-board -->
</div><!-- /row -->
<div id="level-data"
<%= render :partial => 'layouts/footer' %>