<!DOCTYPE html>
<html>
<head>
  <title>JazzRobot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Montserrat|Titillium+Web' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav role="navigation" class="navbar navbar-default navbar-static-top">
  <div class="container">
     <div class="navbar-header">
        <a href="<%= root_path %>" class="navbar-brand">JAZZ ROBOT</a>
      <ul class="nav navbar-nav">
        <li><a href="<%= songs_path %>">SONGS</a></li>
      </ul>
    </div>
  </div><!-- container -->
     
  </nav>

<%= yield %>

</body>
</html>
